body
{
background-color: D5D5D5;
font-family: 'Proza Libre', sans-serif;
  font-family: 'Arvo', serif;
}
.container
{
  margin-top: 4em;
  color:white;
  background-color: #4C4B4A;
  width: 200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px black;
}
img
{
  margin-top: 4em;
}
.well
{
  opacity: 0.8;
  color: black;
}
.footer
{

  color:black;
margin-top: 180px;
  background-color: #c0c0c0;
  height: 50px;
  padding-top:15px;
}
